<div class="top-page">
  <div class="show-banner">
    <h1><strong>Name:</strong><%= @category.name %></h1>
  </div>
</div>

<ul class="list-group">
  <% @category.products.each do |product| %>
    <li class="list-group-item"> 
    Nom du produit : <%= product.name %>
    Description : <%= product.description %>
    </li>
    <%= link_to "Supprimer",
                  product_path(product),
                  method: :delete,
                  data: { confirm: "Êtes-vous certain.e de vousloir supprimer cette beauté ?" } %>
  <% end %>
</ul>

<%= link_to 'Edit', edit_category_path(@category) %>
<%= link_to 'Back', categories_path %>
<%= link_to 'Ajouter un produit', new_category_product_path(@category) %>

